.cartlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cartTotal{
    align-self: flex-end;
}

.cartFunction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
}

.cartFunction .cartBuy{
    width: 30%;
}

.cartFunction .cartBuy button {
    background-color: #154701;
    color: #ffffff;
    border: none;
    padding: 3%;
    cursor: pointer;
    width: 100%;
}

.cartFunction .cartBuy button:hover {
    background-color: #376921;
}

.cartFunction .cartErase {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 1%;
    cursor: pointer;
    width: 30%;
}

.cartFunction .cartErase:hover {
    background-color: #555555;
}