.counter{
    align-self: center;
    display: flex;
}

.counter button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    max-width: fit-content;
    resize: both;
}

.counter button:hover {
    background-color: #555555;
}