.detail {
    border: 1px solid #000000;
    padding: 2%;
    margin: 2%;
    text-align: center;
    background-color: #ffffff;
}

.detail .name {
    background-color: #3333336c;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}

.detail img {
    max-width: 100%;
    height: auto;
}

.detail .description {
    font-size: 1.5rem;
    color: #333;
}

.detail .caracteristics {
    width: fit-content;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .detail .description{
        font-size: 1rem;
    }

    .detail .caracteristics{
        font-size: 0.75rem;
    }
}