.detail {
    border: 1px solid #000000;
    padding: 2%;
    margin: 2%;
    text-align: center;
    background-color: #ffffff;
}

.detail .nombre {
    background-color: #3333336c;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}

.detail img {
    max-width: 100%;
    height: auto;
}

.detail h2 {
    font-size: 2rem;
    color: #333;
}

.detail .caracteristicas {
    width: fit-content;
    text-align: left;
    font-weight: bold;
}