.cartContainer {
    padding: 1%;
    margin: 1%;
    background-color: aliceblue;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.cartContainer::-webkit-scrollbar {
    display: none;
}

.emptyCart {
    margin-top: 15%;
    background-color: #3333336c;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}