.cartContainer {
    padding: 1%;
    margin: 1%;
    background-color: aliceblue;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.cartContainer::-webkit-scrollbar {
    display: none;
}

.cartFunction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
}

.cartFunction .cartBuy{
    width: 30%;
}

.cartFunction .cartBuy button {
    background-color: #154701;
    color: #ffffff;
    border: none;
    padding: 3%;
    cursor: pointer;
    width: 100%;
}

.cartFunction .cartBuy button:hover {
    background-color: #376921;
}

.cartFunction .cartErase {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 1%;
    cursor: pointer;
    width: 30%;
}

.cartFunction .cartErase:hover {
    background-color: #555555;
}

.emptyCart {
    margin-top: 15%;
    background-color: #3333336c;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}