header .navbar {
    background-color: #183b5a;
}

header .navbar .navbar-brand {
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

header .navbar .cart {
    display: flex;
    flex-direction: row;
    align-items: center;
}