@import url(./components/Navbar/Nav.css);
@import url(./components/Products/Products.css);
@import url(./components/Product/product.css);
@import url(./components/Footer/Footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #c6ebf1;
}